.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
    padding: 0.375rem 0.75rem;
}
.select2-container .select2-selection--single {
    height: calc(2.25rem + 2px) !important;
    padding: 0.375rem 0.75rem;
}
.select2-container .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
    top: 0 !important;
}
